<div id="<%= dom_id notice %>">
  <p>
    <strong>Title:</strong>
    <%= notice.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= notice.body %>
  </p>

  <p>
    <strong>Created By:</strong>
    <%= notice.user.name %>
  </p>

</div>
