<p style="color: green"><%= notice %></p>

<h1>Pengumuman</h1>
<%= render 'form', notice: Notice.new %>
<table class="w3-table-all w3-section">
  <thead>
      <tr>
          <th>Title</th>
          <th>Body</th>
          <th>Posted By</th>
          <th>Action</th>
      </tr>    
  </thead>
  <tbody id="notices" is="turbo-frame">
  <% @notices.each do |notice| %>
    <%= render partial: 'notice_table', locals: {notice: notice} %>              
  <% end %>
  </tbody>
</table>

<%= paginate @notices, window: 2 %>