<div id="<%= dom_id pelabuhan %>">
  <p>
    <strong>Daerah:</strong>
    <%= pelabuhan.daerah %>
  </p>

  <p>
    <strong>Nama pelabuhan:</strong>
    <%= pelabuhan.nama_pelabuhan %>
  </p>
  <p>
    <strong>Posted By:</strong>
    <%= pelabuhan.user.name %>
  </p>  
</div>
