<div id="<%= dom_id pelabuhan %>">
  <p>
    <strong>Daerah:</strong>
    <%= pelabuhan.daerah %>
  </p>

  <p>
    <strong>Nama pelabuhan:</strong>
    <%= pelabuhan.nama_pelabuhan %>
  </p>

</div>
