<h1>Editing pelabuhan</h1>

<%= render "form", pelabuhan: @pelabuhan %>

<br>

<div>
  <%= link_to "Show this pelabuhan", @pelabuhan %> |
  <%= link_to "Back to pelabuhans", pelabuhans_path %>
</div>
