<h1>Pelabuhans</h1>
<%= render 'search/form' %>
<%= render 'form', pelabuhan: Pelabuhan.new %>
<div class="w3-responsive">
<table class="w3-table-all w3-section">
  <thead>
      <tr>
          <th>Title</th>
          <th>Body</th>
          <th>Posted By</th>
          <th>Action</th>
      </tr>    
  </thead>
  <tbody id="pelabuhans" is="turbo-frame">
  <% @pelabuhans.each do |pelabuhan| %>
    <%= render partial: 'pelabuhan_table', locals: {pelabuhan: pelabuhan} %>              
  <% end %>
  </tbody>
</table>
</div>
<%= paginate @pelabuhans, window: 2 %>
