<div id="<%= dom_id pengumuman %>">
  <p>
    <strong>Title:</strong>
    <%= pengumuman.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= pengumuman.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= pengumuman.user_id %>
  </p>

</div>
