<h1>Editing pengumuman</h1>

<%= render "form", pengumuman: @pengumuman %>

<br>

<div>
  <%= link_to "Show this pengumuman", @pengumuman %> |
  <%= link_to "Back to pengumumen", pengumumen_path %>
</div>
