html,body,h1,h2,h3,h4,h5 {
    font-family: "Raleway", sans-serif
}
a {
    text-decoration: none;
}
.ar-m-0{
    margin: 0;
}
/* Login Page */
.login-page {
    height: 100%;
    font-family: "Raleway", sans-serif;
}
.login-page > .bgimg {
    background-image: url('/assets/joseph-barrientos-eUMEWE-7Ewg-unsplash-min.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }

