<h1>Editing master kapal</h1>

<%= render "form", master_kapal: @master_kapal %>

<br>

<div>
  <%= link_to "Show this master kapal", @master_kapal %> |
  <%= link_to "Back to master kapals", master_kapals_path %>
</div>
